<table class="table-padding fit-content info-table">
  <tr>
    <td class="bold-400 medium-emphasis">Sitzungsname / Event name</td>
    <td class="bold-700 info-color">{{lunge.eventName}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Thema / Category</td>
    <td class="bold-700 info-color">{{lunge.eventCategory}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Datum / Date</td>
    <td class="bold-700 info-color">{{lunge.eventDate}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Terminfenster / Time</td>
    <td class="bold-700 info-color">{{lunge.appointmentTime}}</td>
  </tr>
</table>