<table class="table-padding shrunk-font-size fit-content align-center">
  <tr class="action-buttons no-wrap-text align-center">
    <td> {{> button type='secondary' url=lunge.rescheduleLink title='Termin verschieben'}}</td>
    <td> {{> button type='warn' url=lunge.cancelLink title='Termin absagen'}}</td>
  </tr>
</table>