.large-caption {
  font-family: 'Stag Sans', Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px; /* 140% */
}
.small-caption {
  font-family: 'Stag Sans', Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.12px;
}

.subtitle-2 {
  font-family: 'Stag Sans', Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.4px; /* 110% */
}

.large-body {
  font-family: 'Stag Sans', Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.neutral-text-color {
  color: #666;
}
.high-emphasis-black-text {
  color: #181818;
}

.very-high-emphasis-black {
  color: #0f0f0f;
}

.appointment-icon {
  min-width: 20px;
  min-height: 20px;
}

.font-bold {
  font-weight: 700;
}

.footer {
  background: #003366;
  width: 100%;
  color: white;
  border-top: 10px solid #10919a;
  padding: 36px 12px;
  > table {
    width: fit-content;
    td {
      padding-left: 16px;
      padding-right: 16px;
      color: var(--Neutral-200, #ccc);
      font-family: 'Stag Sans', Roboto, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 133.333% */
      letter-spacing: 0.12px;
    }

    td:not(:last-child) {
      border-right: 1px solid #ccc;
    }
  }
}

.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

.mx-auto {
  margin-inline: auto;
}

.appointment-info-table {
  border-collapse: separate;
  border-spacing: 0px 32px;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
  margin-bottom: 24px;
}

.user-border {
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
}

.ovb-anchor {
  color: var(--State-Info, #2f80ed);
  /* Regular Body */
  font-family: 'Stag Sans', Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.text-strikethrough {
  text-decoration: line-through;
}

.email-to-style {
  color: var(--Neutral-500, #666);
  font-family: 'Stag Sans', Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
