.bold-500 {
  font-weight: 500;
}
.bold-700 {
  font-weight: 700;
}
.bold-400 {
  font-weight: 400;
}

.default-font-size {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.7%;
  color: #4d5052;
}
.shrunk-font-size {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7%;
  color: #4d5052;
}

.subtitle-text {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.7%;
  color: #4d5052;
  text-align: justify;
}

.table-padding {
  padding: 10px;
}

.px-10 {
  padding: 0px 10px;
}

.pt-16 {
  padding-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.pt-24 {
  padding-top: 24px;
}

.fit-content {
  width: fit-content;
}
.info-table {
  td {
    padding: 4px 10px 4px 0px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
}

.medium-emphasis {
  color: #616161;
}

.info-color {
  color: #303233;
}

.px-12 {
  padding: 0px 12px;
}

.action-buttons > td {
  padding: 0px 12px;
}

.no-wrap-text {
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .action-buttons > td {
    float: left;
  }
  .action-buttons > td:nth-child(2) {
    clear: both;
  }
}

.justify-text {
  text-align: justify;
}
