---
layout: lunge.hbs
subject: Password reset
---
<span class="preheader">Your two-factor authentication code.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Grüezi,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">
      {{lunge.TwoFactorCode}}
    </td>
  </tr>
  <tr>
    <td class="bold-500 justify-text pt-16">
      Bitte geben Sie den Code nicht an Dritte weiter. </td>
  </tr>
</table>