---
layout: lunge.hbs
subject: Booking Updated
---
<span class="preheader">Your appointment has been updated.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Grüezi  / Dear <span class="bold-700">{{lunge.firstname}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">
      Ihre Buchung bei LUNGE ZÜRICH wurde mit den folgenden Details aktualisiert:
    </td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">Your booking at Lunge Zürich has been updated with the following details:
    </td>
  </tr>
</table>
{{>appointment-info}}
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500 justify-text">Bitte beachten Sie, dass Ihre Terminbuchung erst dann abgeschlossen ist, wenn Sie
      unten auf die Schaltfläche <span class="bold-700">Termin bestätigen</span> klicken. Wenn Sie den Termin
      verschieben müssen, können Sie unten
      auf die Schaltfläche <span class="bold-700">Termin verschieben</span> klicken, um ein neues Datum und eine neue
      Uhrzeit auszuwählen. Sie
      können den Termin auch bis zu 24 Stunden vor dem geplanten Zeitpunkt stornieren, indem Sie auf die Schaltfläche
      <span class="bold-700">Termin absagen</span> klicken.
    </td>
  </tr>
  <tr>
    <td class="bold-500 justify-text">Please note that your appointment is not finalized until you click the <span
        class="bold-700">Confirm Appointment</span> button below.
      If you need to
      reschedule, you can click the <span class="bold-700">Reschedule Appointment</span> button below to select a new
      date and time. You
      can also cancel the
      appointment up to 24 hours prior to the scheduled time by clicking the <span class="bold-700">Cancel
        Appointment</span> button.</td>
  </tr>
</table>
{{> three-buttons}}