---
layout: lunge.hbs
subject: Confirm your Lunge Zürich account
---
<span class="preheader">An Account has been created.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Grüezi,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">Willkommen bei LUNGE ZÜRICH. Dies ist ihr persönlicher Anmeldelink zur Kontoerstellung im Kundenportal. Bitte
       klicken Sie auf den folgenden Link, um Ihre Kontoregistrierung zu bestätigen.
    </td>
  </tr>
</table>
<table>
  <tr>
    <td class="align-center ">{{>button type='primary' url=lunge.setPasswordLink title='Bestätigen Sie Ihre Kontoregistrierung'}}</td>
  </tr>
</table>