---
layout: lunge.hbs
subject: Event Updated
---
<span class="preheader">An event you were invited to was updated.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Hallo <span class="bold-700">{{lunge.name}}</span></td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">
      Die Angaben zu Deiner bevorstehenden Sitzung wurden aktualisiert:
    </td>
  </tr>
</table>
{{>event-details-updated}}