---
layout: lunge.hbs
subject: Event Updated
---
<span class="preheader">An event you were invited to was updated.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Grüezi <span class="bold-700">{{lunge.name}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">
      Die Angaben zu Deiner bevorstehenden Sitzung wurden aktualisiert:
    </td>
  </tr>
  <tr>
    <td class="bold-500 pt-16">Dear <span class="bold-700">{{lunge.name}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">The details to your upcoming event has been updated with the following
      details:
    </td>
  </tr>
</table>
{{>event-details}}