---
layout: lunge.hbs
subject: Event Invitation
---
<span class="preheader">You have been invited to an event.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Grüezi  / Dear <span class="bold-700">{{lunge.name}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500 justify-text pt-16">
      Du wurdest zu einer Sitzung mit folgenden Angaben eingeladen:
    </td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">You have been invited to an event with the following details:
    </td>
  </tr>
</table>
{{>event-details}}