---
layout: lunge.hbs
subject: Event Cancelled
---
<span class="preheader">An event you were invited to was cancelled.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Grüezi <span class="bold-700">{{lunge.name}}</span></td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">Die Veranstaltung mit folgenden Details wurde abgesagt:
    </td>
  </tr>
</table>
{{>event-details}}