---
layout: lunge.hbs
subject: Password reset
---
<span class="preheader">A password reset request has been placed.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Dear <span class="bold-700">{{lunge.updatedFirstNameForPasswordReset}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">
      Please click the following button/ link to reset your password for the Lunge Zürich appointment booking platform.
      If you have not made this password reset request, please contact Lunge Zürich.
    </td>
  </tr>
</table>
<table class="table-padding shrunk-font-size fit-content align-center">
  <tr class="action-buttons no-wrap-text align-center">
    <td> {{> button type='primary' url=lunge.updatedPasswordResetLink title='Reset your password'}}</td>
  </tr>
  <tr>
    <td>or use this password reset link:</td>
  </tr>
  <tr>
    <td><a class="bold-500 font-18px" href="{{lunge.updatedPasswordResetLink}}">{{lunge.updatedPasswordResetLink}}</a></td>
  </tr>
</table>