---
layout: lunge.hbs
subject: Booking Confirmation
---
<span class="preheader">An Appointment has been requested.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Dear <span class="bold-700">{{lunge.firstname}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">The prescription you have uploaded has been recorded. Our system will allocate a slot automatically and send the patient an appointment slot.
    </td>
  </tr>
</table>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500 justify-text">If you think there has been a mistake, please contact Lunge Zürich.</td>
  </tr>
</table>