---
layout: lunge.hbs
subject: Activate your Lunge Zürich account
---
<span class="preheader">An Account has been created.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Grüezi / Hello,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">
      Willkommen bei LUNGE ZÜRICH. Bitte klicken Sie auf den untenstehenden Link, um Ihr Konto bei LUNGE ZÜRICH zu
      aktivieren.
    </td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">Welcome to Lunge Zürich. Please click the link below to activate your
      account on the Lunge Zürich admin portal.
    </td>
  </tr>
</table>
<table>
  <tr>
    <td class="align-center ">{{>button type='primary' url=lunge.setPasswordLink title='Activate your account <br />Aktivieren Sie Ihr Konto'}}</td>
  </tr>
</table>