---
layout: lunge.hbs
subject: Password reset
---
<span class="preheader">Your two-factor authentication code.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Hello,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">
      {{lunge.TwoFactorCode}} This code will expire within 1 minute.
    </td>
  </tr>
  <tr>
    <td class="bold-500 justify-text pt-16">
      Please don't share the code with anyone.
    </td>
  </tr>
</table>