---
layout: lunge.hbs
subject: Activate your Lunge Zürich account
---
<span class="preheader">An Account has been created.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Grüezi</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">
      Willkommen bei LUNGE ZÜRICH. Bitte klicken Sie auf folgenden Link, um die Erstellung Ihres Kontos zu bestätigen.
    </td>
  </tr>
</table>
<table>
  <tr>
    <td class="align-center ">{{>button type='primary' url=lunge.setPasswordLink title='Kontoregistrierung bestätigen'}}</td>
  </tr>
</table>