---
layout: lunge.hbs
subject: Password reset
---
<span class="preheader">A password reset request has been placed.</span>
<table class="table-padding default-font-size mb-16">
  <tr>
    <td class="bold-500">Dear <span class="bold-700">{{lunge.name}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">
      This mail is just a reminder about your upcoming appointment. We have reserved a slot for you, but we kindly ask
      you to confirm your attendance.
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">If you have any questions or need to reschedule, feel free to reach out to
      us. </td>
  </tr>
</table>