---
layout: lunge.hbs
subject: Password reset
---
<span class="preheader">Appointment Reminder</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Grüezi <span class="bold-700">{{lunge.name}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">
      Wir möchten Sie an den folgenden Termin erinnern, den Sie mit uns vereinbart haben, der folgende Angaben enthält:
  </tr>
</table>
{{>appointment-info}}
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500 justify-text">
      Wenn Sie den Termin verschieben möchten, können Sie unten auf die Schaltfläche <span class="bold-700">Termin verschieben</span> klicken, um ein
      neues Datum und eine neue Uhrzeit auszuwählen. </td>
  </tr>
</table>
<table class="table-padding shrunk-font-size fit-content align-center">
  <tr class="action-buttons no-wrap-text align-center">
    <td> {{> button type='secondary' url=lunge.rescheduleLink title='Termin verschieben'}}</td>
  </tr>
</table>