---
layout: lunge.hbs
subject: Booking Confirmation
---
<span class="preheader">An Appointment has been requested.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Grüezi  / Dear <span class="bold-700">{{lunge.firstname}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">
      Ihr Arzt / Ihre Ärztin hat eine Verordnung im Kundenportal von LUNGE ZÜRICH hochgeladen. In Kürze wird Ihnen
      automatisch ein Termin zugewiesen.
    </td>
  </tr>
  <tr>
    <td class="bold-500 justify-text">Wenn Sie der Meinung sind, dass ein Fehler vorliegt, wenden Sie sich bitte an
      LUNGE ZÜRICH.</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">Your physician has uploaded a prescription to the Lunge Zürich appointment
      booking platform. You will be automatically allocated an appointment slot shortly.
    </td>
  </tr>
  <tr>
    <td class="bold-500 justify-text">If you think there has been a mistake, please contact Lunge Zürich.</td>
  </tr>
</table>