---
layout: lunge.hbs
subject: Appointment request received
---
<span class="preheader">An Appointment has been requested.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Grüezi <span class="bold-700">{{lunge.firstname}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">Bei LUNGE ZÜRICH wurde eine Terminanfrage mit folgenden Angaben gestellt: 
    </td>
  </tr>
</table>
{{>appointment-info}}
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500 justify-text">Ihre Buchungsanfrage wird per E-Mail bestätigt.</td>
  </tr>
</table>