---
layout: lunge.hbs
subject: Password reset
---
<span class="preheader">Appointment Reminder</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Grüezi <span class="bold-700">{{lunge.name}}</span></td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">Vielen Dank, dass Sie einen Termin mit uns vereinbart haben. Gerne bestätigen wir Ihren Termin mit folgenden Angaben:
    </td>
  </tr>
</table>
{{>appointment-info}}
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500 justify-text">Bitte beachten Sie, dass Ihre Terminbuchung erst dann abgeschlossen ist, wenn Sie
      unten auf die Schaltfläche <span class="bold-700">Termin bestätigen</span> klicken. Wenn Sie den Termin
      verschieben möchten, können Sie unten
      auf die Schaltfläche <span class="bold-700">Termin verschieben</span> klicken, um ein neues Datum und eine neue
      Uhrzeit auszuwählen.
    </td>
  </tr>
  <tr>
    <td class="bold-500 justify-text pt-16">Wenn Sie Ihren Termin nicht mindestens 7 Tage vor dem geplanten Zeitpunkt
      bestätigen, verschieben wir Ihren Termin automatisch auf ein neues Datum. Wenn Sie den neu vereinbarten Termin
      immer noch nicht bestätigen können, wird Ihr Termin automatisch 7 Tage vor dem neu geplanten Datum abgesagt.</td>
  </tr>
</table>
{{>three-buttons}}