---
layout: lunge.hbs
subject: Booking Confirmation
---
<span class="preheader">An Appointment has been requested.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Grüezi <span class="bold-700">{{lunge.firstname}}</span></td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">
      Ihr Arzt / Ihre Ärztin hat eine Verordnung im Kundenportal von LUNGE ZÜRICH hochgeladen. In Kürze wird Ihnen
      automatisch ein Termin zugewiesen.
    </td>
  </tr>
  <tr>
    <td class="bold-500 justify-text">Wenn Sie der Meinung sind, dass ein Fehler vorliegt, wenden Sie sich bitte an
      LUNGE ZÜRICH.</td>
  </tr>
</table>