---
layout: lunge.hbs
subject: Booking Confirmation
---
<span class="preheader">An Appointment has been requested.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Grüezi <span class="bold-700">{{lunge.firstname}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">Vielen Dank, dass Sie einen Termin mit uns vereinbart haben. Wir möchten Ihnen bestätigen, dass Ihr Termin mit folgenden Angaben
      vereinbart wurde:
    </td>
  </tr>
  <tr>
    <td class="bold-500 pt-16">Dear <span class="bold-700">{{lunge.firstname}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">Thank you for scheduling an appointment with us. We would like to confirm
      that your
      appointment has been scheduled with the following details:
    </td>
  </tr>
</table>
{{>appointment-info}}
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500 justify-text">
      Wenn Sie den Termin verschieben müssen, können Sie unten auf die Schaltfläche <span class="bold-700">Termin verschieben</span> klicken, um ein
      neues Datum und eine neue Uhrzeit auszuwählen. Sie können den Termin auch bis zu 24 Stunden vor dem geplanten
      Zeitpunkt stornieren, indem Sie auf die Schaltfläche <span class="bold-700">Termin absagen</span> klicken.
    </td>
  </tr>
  <tr>
    <td class="bold-500 justify-text">
      If you need to reschedule, you can click the <span class="bold-700">Reschedule Appointment</span> button below
      to select a new date and time.
      You can also cancel the appointment upto 24 hours prior to the scheduled time by clicking the <span
        class="bold-700">Cancel Appointment</span>
      button.
    </td>
  </tr>
</table>
{{>two-buttons}}