---
layout: lunge.hbs
subject: Password reset
---
<span class="preheader">Appointment Reminder</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Grüezi <span class="bold-700">{{lunge.name}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">
      Wir möchten Sie an den folgenden Termin erinnern, den Sie mit uns vereinbart haben:
  </tr>
  <tr>
    <td class="bold-500 pt-16">Dear <span class="bold-700">{{lunge.name}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">
      We would like to remind you that you have an appointment scheduled with us with the following details: </td>
  </tr>
</table>
{{>appointment-info}}
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500 justify-text">
      Wenn Sie den Termin verschieben müssen, können Sie unten auf die Schaltfläche <span class="bold-700">Termin
        verschieben</span> klicken, um ein
      neues Datum und eine neue Uhrzeit auszuwählen. Sie können den Termin auch bis zu 24 Stunden vor dem geplanten
      Zeitpunkt stornieren, indem Sie auf die Schaltfläche <span class="bold-700">Termin absagen</span> klicken.
    </td>
  </tr>
  <tr>
    <td class="bold-500 justify-text">
      If you need to reschedule, you can click the <span class="bold-700">Reschedule Appointment</span> button below
      to select a new date and time.
      You can also cancel the appointment upto 24 hours prior to the scheduled time by clicking the <span
        class="bold-700">Cancel Appointment</span>
      button.
    </td>
  </tr>
</table>
{{>two-buttons}}