---
layout: lunge.hbs
subject: Reset your password
---
<span class="preheader">A password reset request has been placed.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Grüezi <span class="bold-700">{{lunge.updatedFirstNameForPasswordReset}}</span></td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">
        Bitte klicken Sie auf den folgenden Link, um Ihr Passwort für das Kundenportal von LUNGE ZÜRICH zurückzusetzen.
        Wenn Sie diese Anfrage zum Zurücksetzen des Passworts nicht gestellt haben, wenden Sie sich bitte an LUNGE
        ZÜRICH.
    </td>
  </tr>
</table>
<table class="table-padding shrunk-font-size fit-content align-center">
  <tr class="action-buttons no-wrap-text align-center">
    <td> {{> button type='primary' url=lunge.updatedPasswordResetLink title='Klicken Sie auf diesen Link, um Ihr Passwort zurückzusetzen'}}</td>
  </tr>
  <tr>
    <td>oder verwenden Sie diesen Link zum Zurücksetzen des Passworts:</td>
  </tr>
  <tr>
    <td><a class="bold-500 font-18px" href="{{lunge.updatedPasswordResetLink}}">{{lunge.updatedPasswordResetLink}}</a>
    </td>
  </tr>
</table>