---
layout: default.hbs
subject: Activate Account
---
<span class="preheader">Activate your account</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href={{webs4.frontend_link}}><img
            src="https://res.cloudinary.com/dk3znnsme/image/upload/v1729837856/4webs_IT_Logo_jhyghr.png" height="50"
            alt="Mailgun"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            Hi <span class="bold-700">{{webs4.name}}</span>,
          </td>
        </tr>
        <tr>
          <td class="font-18px py-16">
            A password reset request was issued for your account. Please click on the following button to proceed.
          </td>
        </tr>
      </table>
      <table class="table-padding shrunk-font-size fit-content align-center">
        <tr class="action-buttons no-wrap-text align-center">
          <td> {{> button type='primary' url=webs4.actionLink title='Reset Password'}}</td>
        </tr>
      </table>
      <table>
        <tr>
          <td class="shrunk-font-size disabled-text bold-700">Note: This link is only valid for 1 attempt</td>
        </tr>
      </table>
    </td>
  </tr>
</table>