<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ subject }}</title>
  <link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

  <table class="body">
    <tr>
      <td></td>
      <td class="container">
        <div class="content">
          <div class="header default-font-size">
            <table>
              <tr>
                <td class="align-center pt-16"><a href=""><img
                      src="https://az-cdn.selise.biz/selisecdn/cdn/lunge/assets/lung-logos/logo-primary.png" height="50"
                      alt="[Lunge Zurich]"></a>
                </td>
              </tr>
            </table>
          </div>
          {{ body }}
          <table class="px-10 mt-24">
            <tr>
              <td class="subtitle-text">Diese E-Mail und alle angehängten Dateien können vertraulich sein. Sollten Sie
                diese E-Mail irrtümlich erhalten haben, bitten wir Sie, diese Nachricht nicht weiter zu verbreiten, zu
                kopieren, weiterzuleiten oder in irgendeiner anderen Weise zu nutzen. Bitte benachrichtigen Sie den
                Absender umgehend per Antwort-E-Mail, wenn Sie diese Nachricht irrtümlich erhalten haben, und vernichten
                Sie diese Nachricht, damit sie vollständig von Ihrem System gelöscht wird. Herzlichen Dank.</td>
            </tr>
          </table>
          {{> divider}}
          <table class="default-font-size p-10">
            <tr>
              <td class="lunge-link">
                <a class=" bold-400" href="https://www.lunge-zuerich.ch/uber-uns/hier-finden-sie-uns/kontakt-lageplaene ">Lunge-Zürich - Kontakt & Lagepläne
                  (lunge-zuerich.ch)</a>

              </td>
            </tr>
            <tr>
              <td class="lunge-address">
                The Circle 62, 8058 Zürich Flughafen, Switzerland
              </td>
            </tr>
            <tr>
              <td class="lunge-address">
                Kontakt: 044 268 20 00
              </td>
            </tr>
            <tr>
              <td class="lunge-address">
                Fax: 044 268 20 20
              </td>
            </tr>
            <tr>
              <td class="lunge-address">Email: <a class="lunge-address-link"
                  href="mailto:beratung@lunge-zuerich.ch">beratung@lunge-zuerich.ch</a></td>
            </tr>
          </table>
        </div>
      </td>
      <td></td>
    </tr>
  </table>

</body>

</html>