<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ subject }}</title>
  <link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

  <table class="body">
    <tr>
      <td></td>
      <td class="container">
        <div class="content">
          <div class="header default-font-size">
            <table>
              <tr>
                <td class="align-center pt-16"><a href=""><img src="https://az-cdn.selise.biz/selisecdn/cdn/lunge/assets/lung-logos/logo-primary.png" height="50"
                      alt="[Lunge Zurich]"></a>
                </td>
              </tr>
            </table>
          </div>
          {{ body }}
          <table class="px-10 mt-24">
            <tr>
              <td class="subtitle-text">This e-mail and any attached files may be confidential in nature. If you
                received this
                e-mail in error, we ask you not to distribute this message any further or to copy it, forward it or make
                use of it
                in any other way. Kindly notify the sender immidiately by reply email if you received this message in
                error and
                destroy this message so that it is completely deleted from your system. Many thanks.</td>
            </tr>
          </table>
          {{> divider}}
          <table class="default-font-size">
            <tr class="bold-500">
              <td>Contact: 044 268 20 00 <br />
                044 268 20 20</td>
              <td class="align-right">The Circle 62<br />
                8058 Zürich Airport, Swirzerland</td>
            </tr>
            <tr>
              <td class="pt-24 bold-500">Email: <a class=" bold-400"
                  href="mailto:beratung@lunge-zuerich.ch">beratung@lunge-zuerich.ch</a></td>
            </tr>
          </table>
        </div>
      </td>
      <td></td>
    </tr>
  </table>

</body>

</html>